body {
    /*  禁止选中文本 */
    -moz-user-select: none;	/*火狐*/
    -webkit-user-select: none;	/*webkit浏览器*/
    -ms-user-select: none;		/*IE10*/
    -khtml-user-select: none;	/*早期浏览器*/
    user-select: none;
}



section {
    display: none;
}

.container {
    margin: 3em auto;
    width: 78%;
}


