html {
    height: 100%;
    width: 100%;
    display: table;
}

body {

    background: -webkit-linear-gradient(top, #222 0%,#777 50%, #777 50%, #222 100%);
    background: -moz-linear-gradient(top, #222 0%, #777 50%, #777 50%, #222 100%);
    display: table-cell;
    vertical-align: middle;   
    font-family: Arial ,sans-serif;
    
}

h1 {
    font-size: 70px;
    text-align: center;
    margin-top: 200px;
    color: #111;
    font-family: 'Lato', Times, 'Times New Roman', serif;
}

h2 {
    font-size: 32px;
    color: #111;
    font-family: 'Lato', Times, 'Times New Roman', serif;
}


p {
    
}

li img {
    bottom: 40px;
    right: 50px;
    position: absolute;
}

img {

    
}

ul {
    list-style-type: square;
}

.title {
    font-size: 50px;
    font-weight: bold;
    line-height: 70px;
    font-family: 'Lato', Times, 'Times New Roman', serif;
}

.subtitle {
    font-size: 30px;
    font-family: 'Eater', cursive;
    color: #4183C4;
    line-height: 60px;
    padding-bottom: 40px;
}

.author {
    line-height: 40px;
    
}


.theme {
    color: #AAA;
    position: absolute;
    right: 50px;
    bottom: 50px;
}

.meta {
    padding: 10px 5px;
    border: 3px dashed #ccc;
    width: 400px;
}

.thanks {
    color: #900000;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    margin-top: 208px;
    font-family: 'Lato', Times, 'Times New Roman', serif;
}

pre {
    
    padding: 10px;
    background: #444;
    border-radius: 6px;
    color: #fff;
    font-size: 22px;
    
}

a {
    color: #4183C4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

strong {
    color: #900000;
}

.navi {
    left: 2px;
    top:2px;
    position: absolute;
}

.navi span{
    text-align:center;
    margin-left: 10px;
    padding: 2px 6px 2px 6px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

.navi .current {
    color: #333;
    background: #fff;
    
}


.paper {
    width: 800px;
    height: 600px;
    background: #FFFFFF;
    font-size: 28px;
    color: #444;
    text-shadow: rgba(0, 0, 0, 0.246094) 0 1px 1px;
}


.paper-container {
    padding: 50px;
}


#wrapper {
    width: 800px;
    height: 600px;
    margin: 0px auto;
}


.social ul {
    margin: 0px;
    padding: 0px;
    list-style-type:  none;
}

.social ul li {
    float: left;
    margin-right: 8px;
}



.email {
    width: 34px;
    height: 34px;
    background: url('email.png') no-repeat;
    text-indent: -999999px;
}

.email a{
    display: block;
}


.twitter {
    width: 34px;
    height: 34px;
    background: url('twitter.png') no-repeat;
    text-indent: -999999px;
}

.twitter a{
    display: block;
}

.github {
    width: 34px;
    height: 34px;
    background: url('github.png') no-repeat;
    text-indent: -999999px;
}

.github a{
    display: block;
}

.bx-prev {
    position: absolute;
    top: 270px;
    left: -100px;
    width: 31px;
    height: 31px;
    text-indent: -999999px;
    background: url(./icon_arrow_left.png) no-repeat 0 0;
}

.bx-prev:hover {
    background-position: 0 -31px;
}

.bx-next {
    position: absolute;
    top: 270px;
    left: 869px;
    width: 31px;
    height: 31px;
    text-indent: -999999px;
    background: url(./icon_arrow_right.png) no-repeat 0 0;
}

.bx-next:hover {
    background-position: 0 -31px;
}