body {
    font-family: Arial;
    font-size: 28px;
    color: #444;
    text-shadow: rgba(0, 0, 0, 0.246094) 0 1px 1px;
}

h1 {
    font-size: 70px;
    text-align: center;
}

h2 {
    font-size: 32px;
}


p {
    
}

li img {
    bottom: 10%;
    right: 10%;
    position: absolute;
}

img {
    
}

.title {
    font-size: 50px;
    font-weight: bold;
    line-height: 70px;
    
}

.subtitle {
    font-size: 30px;
    font-family: 'Eater', cursive;
    //color: #999;
    color: #4183C4;
    line-height: 60px;
    padding-bottom: 40px;
}

.author {
    line-height: 40px;
    
}


.theme {
    float: right;
    position: absolute;
    bottom: 10%;
    right: 10%;
    color: #AAA;
    text-align: center;
}

.meta {
    padding: 20px;
}

.thanks {
    color: #900000;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
}

pre {
    color: #4183C4;
}

a {
    color: #4183C4;
}

strong {
    color: #900000;
}

.navi {
    text-align:center;
}

.navi span{
    margin-left: 10px;
    padding: 2px 6px 2px 6px;
    color: #333;
    //background: #222;
    font-weight: bold;
    font-size: 30px;
}

.navi .current {
    color: #fff;
    background: #222;
}