<!DOCTYPE html>
<html>
<head>
  {% include 'header.html' %}
  {% include '_settings/analytics.html' %}
  {% include '_settings/latex.html' %}
  {% include '_settings/font.html' %}
  {% if title %}
  <title>{{ title }} {% if subtitle %} &ndash; {{ subtitle }} {% endif %}</title>
  {% endif %}
</head>
<body>
    {% include '_slides/navi.html'%}
  {% if engine=="jmpress" %}
  <div id="jmpress">
  {% else %}
  <div id="impress">
  {% endif %}
    {% include '_slides/cover.html' %}
    {% include '_slides/content.html' %}
   </div>

  {% include 'footer.html' %}
</body>
</html>
