{% if slides %}




{% for slide in slides %}

{% if slide.section == 0 %}

<div class="step" data-x="{{ slide.x }}" data-y="{{ slide.y }}" data-rotate="{{ slide.rotate }}" data-scale="{{ slide.scale }}">
{{ slide.content }}
</div>

{% else %}


<div class="step" data-x="{{ slide.x }}" data-y="{{ slide.y }}" data-rotate="{{ slide.rotate }}" data-scale="{{ slide.scale }}">
{{ slide.content }}
</div>


{% endif %}



<!--================================slide==============================-->



{% endfor %}





{% endif %}
