{% if slides %}




{% for slide in slides %}

{% if slide.section == 0 %}

<div class="step" data-x="2200" data-y="{{ slide.chapter*3000 - 1000}}" data-rotate="-90" data-scale="4">
{{ slide.content }}
</div>

{% else %}


<div class="step" data-x="3000" data-y="{{slide.chapter * 3000 + slide.section * 600 - 1000 }}" data-rotate="0" data-scale="1">
{{ slide.content }}
</div>


{% endif %}



<!--================================slide==============================-->



{% endfor %}



</div>


{% endif %}
